<div class="row" data-equalizer>
  <h1>Parts#show</h1>
  <div class="large-2 columns panel center" data-equalizer-watch>
    <%= render partial: 'parts/parts',
               locals: {parts: @tutorial.parts,
                        tutorial: @tutorial,
                        user: current_user}  %>
  </div>
  <div class="large-5 columns panel" data-equalizer-watch>
    <h4><%= @part.title %></h4>
    <p><%= @part.content %></p>
    <%= link_to 'Review', tutorial_part_part_comments_path(@tutorial,@part), class: 'button small right' %>
  </div>
  <div class="large-5 columns panel" data-equalizer-watch>
    <%= form_for([@tutorial,@part,@part.done_parts.build()]) do |f|%>
      <%= text_area_tag :signature %>
      <%= f.submit 'Execute', class: 'button small right' %>
    <% end %>
    <h4></h4>
    <!--<textarea rows="12" cols="50"></textarea>-->
    <!--<a href="#" data-reveal-id="underdevelopment" class="button small right">Execute</a>-->
  </div>
</div>