<%= breadcrumbs({title: @interpreter.title, link: @interpreter}, current: @function.title) %>

<div class="row">
  <div class="large-6 columns">
    <div class="large-5 columns">
      <h4>
        <%= @function.name %><br>
      </h4>
    </div>
    <div class="large-7 columns">
      <%= @function.description.html_safe %>
    </div>
  </div>
  <div class="large-5 columns">
    <textarea readonly id="function_content" rows="15" cols="50">
      <%= @function.content %>
    </textarea>

    <% content_for :javascripts do %>
      <script>editorReadonly("function_content");</script>
    <% end %>
  </div>
  <div class="large-1 columns text-right right">
    <%= render partial: 'page/comment_vote', locals: {
        votes: @function.function_votes,
        update_vote_link: [@interpreter,@function],
        create_vote_link: [@interpreter,@function,@function.function_votes.build]
    } %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns ">
    <h5>Regex</h5>
  </div>
  <div class="large-6 columns ">
    <textarea id="function_regex" disabled><%= @function.regex %></textarea>
  </div>
  <div class="large-6 columns">
    <textarea onkeydown="regexTester(this, 'function_regex')" placeholder="Regex tester"></textarea>
  </div>
</div>

<div class="row">
  <%= render partial: 'page/add_comment', locals: {link: [@interpreter,@function,@function.function_comments.build]} %>
  <br>

  <!--Comments zone-->
  <%= will_paginate @comments, renderer: FoundationPagination::Rails %>
  <% @comments.each do |c| %>
    <div class="row comment-panel">

      <!-- Content zone-->
      <%= render partial: 'page/comment_content', locals: {comment: c} %>

      <!-- +/- zone, vote of comments-->
      <div class="large-2 columns text-right">
        <%= render partial: 'page/comment_vote', locals: {
            votes: c.function_comment_votes,
            update_vote_link: [@interpreter,@function,c],
            create_vote_link: [@interpreter,@function,c,c.function_comment_votes.build]
        } %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @comments, renderer: FoundationPagination::Rails %>
</div>