<h1>Functions#show</h1>

<div class="row">
  <div class="large-4 columns">
    <h4>
      <%= @function.name %><br>
      <%= @function.regex %>
    </h4>
  </div>
  <div class="large-4 columns">
    <%= @function.description %>
  </div>
  <div class="large-4 columns">
    <textarea readonly rows="4" cols="50">
      <%= @function.content %>
    </textarea>
  </div>
</div>

<div class="row">
  <%= render partial: 'page/add_comment', locals: {link: [@interpreter,@function,@function.function_comments.build]} %>
  <br>

  <!--Comments zone-->
  <% @function.function_comments[0..-2].reverse.each do |c| %>
    <div class="row comment-panel">

      <!-- Content zone-->
      <%= render partial: 'page/comment_content', locals: {comment: c} %>

      <!-- +/- zone, vote of comments-->
      <div class="large-2 columns text-right">
        <%= render partial: 'page/comment_vote', locals: {
            votes: c.function_comment_votes,
            update_vote_link: [@interpreter,@function,c],
            create_vote_link: [@interpreter,@function,c,c.function_comment_votes.build]
        } %>
      </div>
    </div>
  <% end %>
</div>