<h1>Comments index</h1>

<div class="row">
  <div class="large-2 columns panel">
    <%= render partial: 'parts/parts',
               locals: {parts: @tutorial.parts,
                        tutorial: @tutorial,
                        user: current_user}  %>
  </div>
  <div class="large-10 columns panel">
      <div class="text-center columns  large-8">
        <h4><%= @part.title %></h4>
        <p><%= @part.content %></p>
      </div>
      <div class="text-right right columns large-2">
        <%= render partial: 'page/comment_vote', locals: {
            votes: @part.part_votes,
            update_vote_link: [@tutorial,@part],
            create_vote_link: [@tutorial,@part,@part.part_votes.build]
        } %>
      </div>
    <div class="row">
      <div class="columns">
        <%= render partial: 'page/add_comment', locals: {link: [@tutorial,@part,@part.part_comments.build]} %>
        <br>

        <!--Comments zone-->
        <% @part.part_comments[0..-2].reverse.each do |c| %>
          <div class="row comment-panel">

            <!-- Content zone-->
            <%= render partial: 'page/comment_content', locals: {comment: c} %>

            <!-- +/- zone, vote of comments-->
            <div class="large-2 columns text-right">
              <%= render partial: 'page/comment_vote', locals: {
                  votes: c.part_comment_votes,
                  update_vote_link: [@tutorial,@part,c],
                  create_vote_link: [@tutorial,@part,c,c.part_comment_votes.build]
              } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>