<%= form_for link do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :regex %>
      <%= f.text_area :regex %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.submit class: 'button tiny' %>
    </div>
    <div class="large-6 columns">
      <%= link_to 'Go to the page', link, class: 'button tiny right' unless new %>
    </div>
  </div>
<% end %>