<%= breadcrumbs({title: @interpreter.title, link: @interpreter}, current: 'edit') %>
<%= render partial: 'layouts/delete_confirm', locals: {id: 'interpreterDelete', name: 'interpreter', link: @interpreter}%>

<%= form_for :interpreter, url: interpreter_path(@interpreter), method: :patch do |f| %>
  <% if @interpreter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interpreter.errors.count, 'error') %> prohibited this interpreter from being saved:</h2>
      <ul>
        <% @interpreter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :is_finish %>
      <%= f.check_box :is_finish %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :open_token %>
      <%= f.text_field :open_token %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :close_token %>
      <%= f.text_field :close_token %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit class: 'button tiny' %>
      <a href="#" data-reveal-id="interpreterDelete" class="button tiny alert right">Delete</a>
    </div>
  </div>
<% end %>

<dl class="accordion" data-accordion>
  <dd>
    <a href="#newpart">New function</a>
    <div id="newpart" class="content">
      <%= render partial: 'function_form',
                 locals: {link: [@interpreter, @interpreter.functions.build], new: true} %>
    </div>
  </dd>

  <% @interpreter.functions[0..-2].each_with_index do |f, index| %>
    <dd>
      <a href="#part<%= f.id %>"><%= (index+1).to_s+' '+f.title %></a>
      <div id="part<%= f.id %>" class="content">
        <%= render partial: 'function_form',
                   locals: {link: [@interpreter, f],new: false} %>
      </div>
    </dd>
  <% end %>
</dl>