<%= breadcrumbs({title: @interpreter.title, link: @interpreter}, current: 'edit') %>
<%= tinymce_assets %>

<%= render partial: 'layouts/delete_confirm', locals: {id: 'interpreterDelete', name: 'interpreter', link: @interpreter}%>

<%= form_for :interpreter, url: interpreter_path(@interpreter), method: :patch do |f| %>
  <% if @interpreter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interpreter.errors.count, 'error') %> prohibited this interpreter from being saved:</h2>
      <ul>
        <% @interpreter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'interpreter_form', locals: {form: f} %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit class: 'button tiny' %>
      <a href="#" data-reveal-id="interpreterDelete" class="button tiny alert right">Delete</a>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= render partial: 'help_interpreter' %><br>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <dl class="accordion" data-accordion>
      <dd>
        <a href="#newpart">New function</a>
        <div id="newpart" class="content">
          <%= render partial: 'function_form',
                     locals: {link: [@interpreter, @interpreter.functions.build], new: true} %>
        </div>
      </dd>

      <% @interpreter.functions[0..-2].each_with_index do |f, index| %>
        <dd>
          <a href="#part<%= f.id %>"><%= (index+1).to_s+' '+f.title %></a>
          <div id="part<%= f.id %>" class="content">
            <%= render partial: 'function_form',
                       locals: {link: [@interpreter, f],new: false} %>
          </div>
        </dd>
      <% end %>
    </dl>
  </div>
</div>