<%= breadcrumbs({title: 'creator page', link: creator_path}, current: 'new interpreter') %>
<%= tinymce_assets %>

<% if @interpreter.errors.any? %>
  <div class="alert-box alert">
    <%= pluralize(@interpreter.errors.count, 'error') %> :<br>
    <a href="#" class="close">&times;</a>

    <ul>
      <% @interpreter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :interpreter, url: interpreters_path do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'tinymce', rows: 15 %>
      <%= tinymce %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :is_finish %>
      <%= f.check_box :is_finish %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :open_token %>
      <%= f.text_field :open_token %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :close_token %>
      <%= f.text_field :close_token %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit 'save', class: 'button small' %>
    </div>
  </div>
<% end %>