<%= breadcrumbs({title: 'creator page', link: creator_path}, current: 'new interpreter') %>
<%= tinymce_assets %>
<%= tinymce %>

<% if @interpreter.errors.any? %>
  <div class="alert-box alert">
    <%= pluralize(@interpreter.errors.count, 'error') %> :<br>
    <a href="#" class="close">&times;</a>

    <ul>
      <% @interpreter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :interpreter, url: interpreters_path do |f| %>

  <%= render partial: 'interpreter_form', locals: {form: f} %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit 'save', class: 'button small' %>
    </div>
  </div>
<% end %>