<div class="row">
  <div class="large-12 columns">
    <h1>Interpreters#show</h1>
    <div class="row">
      <div class="large-4 columns">
        <h4><%= @interpreter.title %></h4>
        <p>Is finished : <%= @interpreter.is_finish.yesno.downcase %></p>
      </div>
      <div class="large-6 columns">
        <h4><%= @interpreter.description %></h4>
      </div>
      <div class="large-2 columns">
        <div class="text-right">
          <%= link_to 'Edit', edit_interpreter_path(@interpreter), class: 'button small' %>
        </div>

        <!--grade section-->
        <%= render partial: 'page/grade', locals: {
            grade_link: [@interpreter,@interpreter.interpreter_grades.build],
            grade_value: @grade
        }%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-2 text-center columns">
    <h4>All function</h4>
    <% @functions.each_with_index do |f, index| %>
      <div class="columns">
        <%= link_to f.name, interpreter_function_path(@interpreter,f), class: 'button small' %>
      </div>
    <% end %>
  </div>
  <div class="large-10 columns">
    <%= render partial: 'page/add_comment', locals: {link: [@interpreter,@interpreter.interpreter_comments.build]} %>
    <br>

    <!--Comments zone-->
    <% @interpreter.interpreter_comments[0..-2].reverse.each do |c| %>
      <div class="row comment-panel">

        <!-- Content zone-->
        <%= render partial: 'page/comment_content', locals: {comment: c} %>

        <!-- +/- zone, vote of comments-->
        <div class="large-2 columns text-right">
          <%= render partial: 'page/comment_vote', locals: {
              votes: c.interpreter_comment_votes,
              update_vote_link: [@interpreter,c],
              create_vote_link: [@interpreter,c,c.interpreter_comment_votes.build]
          } %>
        </div>
      </div>
    <% end %>
  </div>
</div>


