<div class='row'>
  <div class='small-12'>
    <%= link_to 'change account settings', edit_user_registration_path, class: 'button tiny' %>
  </div>
  <div class='small-12'>
    <h4>All your comments</h4>
    <% @user.comments.each do |comment| %>
      <% positive = comment.votes.where(positive: true).count %>
      <% unpositive = comment.votes.where(positive: false).count %>
      <%= link_to comment.parent_path, class: 'button round' do %>
        <%= truncate(comment.content) %>
        <span class="green-text"><%= positive.to_s %></span>
        /
        <span class="red-text"><%= unpositive.to_s %></span>
      <% end %>
    <% end %>
  </div>
  <div class='small-12'>
    <h4>Your unfinished tutorials and interpreters</h4>
    <% @unfini_tut_int.each do |unfinished| %>
      <%= link_to unfinished, class: 'button round' do %>
        <%= unfinished.title %>
        <%= unfinished.grade_mean %>
      <% end %>
    <% end %>
  </div>
  <div class="small-12">
    <h4>Tutorials</h4>
    <div class="small-6 columns">
      <h5>Started but not finished</h5>
      <% @try_unfinish.each do |tutorial| %>
        <%= link_to tutorial, class: 'button round' do %>
          <% tutorial.title %>
        <% end %>
      <% end %>
    </div>
    <div class="small-6 columns">
      <h5>Finished</h5>
      <% @try_finish.each do |tutorial| %>
        <%= link_to tutorial, class: 'button round' do %>
          <% tutorial.title %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>