<%= form_for link do |f| %>
  <div class="row">
    <% if new %>
      <div class="large-12 columns">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    <% else %>
      <div class="large-1 text-center columns">
        <%= link_to '', up_position_tutorial_part_path(link.first, id: link.last.id.to_s),class: 'arrow-up', method: :get %><br><br>
        <%= link_to '', down_position_tutorial_part_path(link.first, id: link.last.id.to_s),class: 'arrow-down', method: :get %>
      </div>
      <div class="large-11 columns">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

    <% end %>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :content %>
      <%= f.text_area :content, namespace: link.last.id, class: 'tinymce', rows: 15 %>
      <%= tinymce %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :signature %>
      <%= f.text_area :signature, namespace: link.last.id %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.submit class: 'button tiny' %>
    </div>
    <div class="large-6 columns">
      <% unless new %>
        <%= link_to 'delete', link, method: :delete, class: 'button tiny alert right' %>
        <%= link_to 'Go to the page', link, class: 'button tiny right' %>
      <% end %>
    </div>
  </div>
<% end %>