<%= breadcrumbs({title: @tutorial.title,link: @tutorial},current: 'edit') %>
<%= tinymce_assets %>

<%= form_for :tutorial, url: tutorial_path(@tutorial), method: :patch do |f| %>
  <% if @tutorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorial.errors.count, 'error') %> prohibited this interpreter from being saved:</h2>
      <ul>
        <% @tutorial.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render partial: 'layouts/delete_confirm', locals: {id: 'tutorialDelete', name: 'tutorial', link: @tutorial}%>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'tinymce', rows: 15 %>
      <%= tinymce %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns"><br>
      <%= f.label :interpreter %>
      <%= f.collection_select :interpreter_id, Interpreter.all, :id, :title %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns"><br>
      <%= f.label :is_finish %>
      <%= f.check_box :is_finish %>
    </div>
  </div>

  <div class="row">
    <div class="large-2 columns">
      <%= f.submit 'save', class: 'button tiny expand' %>
    </div>
    <div class="large-2 columns">
      <a href="#" data-reveal-id="tutorialDelete" class="button tiny alert right expand">Delete</a>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <dl class="accordion" data-accordion>
      <dd>
        <% signature_id_name = 'part_signature' %>
        <a href="<%= request.original_url %>#newpart" onclick="editorNoRubyAccordion('<%= signature_id_name %>')">New part</a>
        <div id="newpart" class="content">
          <%= render partial: 'part_form',
                     locals: {link: [@tutorial, @tutorial.parts.build], new: true} %>
        </div>
      </dd>

      <% @parts.each_with_index do |p, index| %>
        <dd>
          <a href="#part<%= p.id %>" onclick="editorNoRubyAccordion('<%= p.id.to_s+'_'+signature_id_name %>')"><%= (index+1).to_s+' '+p.title %></a>
          <div id="part<%= p.id %>" class="content">
            <%= render partial: 'part_form',
                       locals: {link: [@tutorial, p], new: false} %>
          </div>
        </dd>
      <% end %>
    </dl>
  </div>
</div>




