<h1>Tutorials#edit</h1>

<%= form_for :tutorial, url: tutorial_path(@tutorial), method: :patch do |f| %>
  <% if @tutorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorial.errors.count, 'error') %> prohibited this interpreter from being saved:</h2>
      <ul>
        <% @tutorial.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :interpreter %>
    <%= f.collection_select :interpreter_id, Interpreter.all, :id, :title %>
  </p>

  <p>
    <%= f.submit 'save' %>
  </p>
<% end %>

<%= form_for ([@tutorial , @tutorial.parts.build]) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :signature %>
    <%= f.text_area :signature %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>All parts:</h2>
<% @parts[0..-2].each_with_index do |p, index| %>
  <%= render partial: 'parts/part', locals: {index: index, part: p}  %>
<% end %>




