<%= breadcrumbs({title: 'creator page', link: creator_path}, current: 'new tutorial') %>

<% if @tutorial.errors.any? %>
  <div class="alert-box alert">
    <%= pluralize(@tutorial.errors.count, 'error') %> :<br>
    <a href="#" class="close">&times;</a>

    <ul>
      <% @tutorial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :tutorial, url: tutorials_path do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :interpreter %>
      <%= f.collection_select :interpreter_id, Interpreter.all, :id, :title %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.submit 'save', class: 'button small' %>
    </div>
  </div>
<% end %>