<!--Project: Learn-it-->
<!--Author : Etienne Frank-->
<!--Year   : 2014-->

<!--Vote section-->

<% return unless user_signed_in? %>

<!--If the vote exist, we have only to update it-->
<% @exist = false %>
<% votes.each do |v| %>
  <% if !v.user.nil? && v.user.id == current_user.id %>
    <% @exist = true %>

    <% if v.positive==true %>
      <%= nb_pos_vote(votes) %>
      <span data-tooltip class="tip-right" title="Already vote this choice !">
        <button class="plus-button-disabled"><i class="fi-plus"></i></button>
      </span>
      <%= form_for(update_vote_link+[v]) do |f| %>
          <%= f.hidden_field :positive, :value => false %>
          <%= nb_neg_vote(votes)-1 %>
          <button type="submit" class="minus-button"><i class="fi-minus"></i></button>
      <% end %>
    <% else %>
      <%= form_for(update_vote_link+[v]) do |f| %>
        <%= f.hidden_field :positive, :value => true %>
        <%= nb_pos_vote(votes) %>
          <button type="submit" class="plus-button"><i class="fi-plus"></i></button>
      <% end %>
      <%= nb_neg_vote(votes)-1 %>
      <span data-tooltip class="tip-right" title="Already vote this choice !">
        <button class="minus-button-disabled"><i class="fi-minus"></i></button>
      </span>
    <% end %>
    <% break %>
  <% end %>
<% end %>

<!--If the the user haven't vote yet, we have to create it-->
<% if @exist == false %>
  <%= form_for(create_vote_link) do |f| %>
    <%= f.hidden_field :positive, :value => true %>
    <%= nb_pos_vote(votes) %>
    <button type="submit" class="plus-button"><i class="fi-plus"></i></button>
  <% end %>
  <%= form_for(create_vote_link) do |f| %>
    <%= f.hidden_field :positive, :value => false %>
    <%= nb_neg_vote(votes)-1 %>
    <button type="submit" class="minus-button"><i class="fi-minus"></i></button>
  <% end %>
<% end %>
