<% if user_signed_in? %>
  <%= form_for(grade_link) do |f| %>
    <%= f.label :grade %>
    <%= f.number_field(:grade, in: 1.0..10.0, step: 0.1, value: grade_value) %>
    <div class="text-right">
      <%= f.submit 'Set grade', class: 'button tiny' %>
    </div>
  <% end %>
<% else %>
  Grade<br>
  <input type="text" disabled value="<%= grade_value %>"/>
<% end %>