<% title 'Home' %>

<%= breadcrumbs(current: 'home') %>

<% if cookies[:welcom_alert].blank? %>
  <div data-alert class="alert-box secondary large-8 large-offset-2 columns">
    <div class="text-center">
      <h3>Weclome</h3>
      <h5>
        This is a programming learning site web.<br>
        You will find tutorials, which you can do it right now !<br>
        You can also make your own tutorial !<br>
        All tutorials use interpreters.<br>
        Those interpreters can be create by the community or by you.<br>
      </h5>
    </div>
    <a href="#" class="close">&times;</a>
  </div>
  <% cookies[:welcom_alert] = true %>
<% end %>

<div class="row">
  <div class="large-8 large-centered columns text-center">
    <%= form_tag(root_path, method: 'get', id: 'search-form') do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search tutorial' %>
      <%= submit_tag 'Search', name: nil, class: 'button tiny' %>
    <% end %>
  </div>
</div>

<div class="row">
  <% if @tutorials.blank? %>
    <div class="large-6 columns text-center">
      <h3>Top tutorials</h3>
      <div class="panel">
        <% @tops.each_with_index do |t, index| %>
          <%= render partial: 'tutorial', locals: {index: index, tutorial: t}  %>
        <% end %>
        <%= will_paginate @tops, param_name: 'top_page', renderer: FoundationPagination::Rails %>
      </div>
    </div>

    <div class="large-6 columns text-center">
      <h3>Most recent tutorial</h3>
      <div class="panel">
        <% @newest.each_with_index do |t, index| %>
          <%= render partial: 'tutorial', locals: {index: index, tutorial: t}  %>
        <% end %>
        <%= will_paginate @newest, param_name: 'recent_page', renderer: FoundationPagination::Rails %>
      </div>
    </div>
  <% else %>
    <div class="large-12 columns text-center">
      <h3>Search result</h3>
      <div class="panel">
        <% @tutorials.each_with_index do |t, index| %>
          <%= render partial: 'tutorial', locals: {index: index, tutorial: t}  %>
        <% end %>
        <%= will_paginate @tutorials, param_name: 'search_page', renderer: FoundationPagination::Rails %>
      </div>
    </div>
  <% end %>
</div>
